.version.hot_water_heater /* version checker */
{
	color: #000016;
	background-color: #EFFD52;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 660px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-right: 300px;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#menuu656
{
	z-index: 2;
	width: 660px;
}

#u664
{
	width: 130px;
	min-height: 34px;
	margin-right: -10000px;
}

#u667
{
	width: 130px;
	padding-bottom: 17px;
}

#u667:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u667:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u670-4
{
	width: 130px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u667:hover #u670-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u667:active #u670-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u685
{
	width: 130px;
	min-height: 34px;
	margin-right: -10000px;
	left: 132px;
}

#u686
{
	width: 130px;
	padding-bottom: 17px;
}

#u667.MuseMenuActive,#u686:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u686:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u687-4
{
	width: 130px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u667.MuseMenuActive #u670-4,#u686:hover #u687-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u686:active #u687-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u678
{
	width: 130px;
	min-height: 34px;
	margin-right: -10000px;
	left: 264px;
}

#u681
{
	width: 130px;
	padding-bottom: 17px;
}

#u686.MuseMenuActive,#u681:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u681:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u681.MuseMenuActive
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u683-4
{
	width: 130px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u686.MuseMenuActive #u687-4,#u681:hover #u683-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u681:active #u683-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u681.MuseMenuActive #u683-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u657
{
	width: 131px;
	min-height: 34px;
	margin-right: -10000px;
	left: 396px;
}

#u660
{
	width: 131px;
	padding-bottom: 17px;
}

#u660:hover
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u660:active
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u661-4
{
	width: 131px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u660:hover #u661-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 131px;
	margin: 0px -10000px 0px 0px;
}

#u660:active #u661-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 131px;
	margin: 0px -10000px 0px 0px;
}

#u671
{
	width: 131px;
	min-height: 34px;
	margin-right: -10000px;
	left: 529px;
}

#u672
{
	width: 131px;
	padding-bottom: 17px;
}

#u660.MuseMenuActive,#u672:hover
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u672:active
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u672.MuseMenuActive
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u674-4
{
	width: 131px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u660.MuseMenuActive #u661-4,#u672:hover #u674-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 131px;
	margin: 0px -10000px 0px 0px;
}

#u672:active #u674-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 131px;
	margin: 0px -10000px 0px 0px;
}

#u672.MuseMenuActive #u674-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 131px;
	margin: 0px -10000px 0px 0px;
}

#u522-4
{
	z-index: 39;
	width: 407px;
	min-height: 41px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	margin-top: 6px;
	position: relative;
}

#u523
{
	z-index: 43;
	width: 150px;
	background-color: transparent;
	margin-left: 25px;
	position: relative;
}

#u521-6
{
	z-index: 33;
	width: 200px;
	min-height: 31px;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u529
{
	z-index: 45;
	width: 120px;
	background-color: transparent;
	margin-left: 40px;
	position: relative;
}

#u565-6
{
	z-index: 57;
	width: 200px;
	min-height: 31px;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u535
{
	z-index: 47;
	width: 150px;
	background-color: transparent;
	margin-left: 25px;
	position: relative;
}

#u566-6
{
	z-index: 63;
	width: 200px;
	min-height: 31px;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u540
{
	z-index: 49;
	width: 150px;
	background-color: transparent;
	margin-left: 25px;
	position: relative;
}

#u567-6
{
	z-index: 69;
	width: 200px;
	min-height: 31px;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u545
{
	z-index: 51;
	width: 200px;
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,175,-25);
	-ms-transform: matrix(0,1,-1,0,175,-25);
	transform: matrix(0,1,-1,0,175,-25);
	margin-top: 25px;
	margin-bottom: 25px;
	position: relative;
}

#u570-6
{
	z-index: 89;
	width: 200px;
	min-height: 31px;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u550
{
	z-index: 53;
	width: 200px;
	background-color: transparent;
	position: relative;
}

#u569-8
{
	z-index: 81;
	width: 200px;
	min-height: 31px;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u555
{
	z-index: 55;
	width: 120px;
	background-color: transparent;
	margin-left: 40px;
	position: relative;
}

#u568-6
{
	z-index: 75;
	width: 200px;
	min-height: 31px;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u521-2,#u565-2,#u566-2,#u567-2,#u570-2,#u569-2,#u569-4,#u568-2
{
	font-size: 12px;
	line-height: 14px;
}

#u521-4,#u565-4,#u566-4,#u567-4,#u570-4,#u569-6,#u568-4
{
	font-size: 10px;
	line-height: 12px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

