.version.index /* version checker */
{
	color: #0000E9;
	background-color: #F8833F;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 62px;
	width: 0.01px;
}

#menuu620
{
	z-index: 6;
	width: 660px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u635
{
	width: 130px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u636
{
	width: 130px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u637-4
{
	width: 130px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 0px;
}

#u636:hover #u637-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u636:active #u637-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u649
{
	width: 130px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 132px;
}

#u652
{
	width: 130px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u636.MuseMenuActive,#u652:hover
{
	background-color: #999999;
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u654-4
{
	width: 130px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u636.MuseMenuActive #u637-4,#u652:hover #u654-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u652:active #u654-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u642
{
	width: 130px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 264px;
}

#u645
{
	width: 130px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u645:hover
{
	background-color: #999999;
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u652:active,#u645:active
{
	background-color: #6B6B6B;
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u648-4
{
	width: 130px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u652.MuseMenuActive #u654-4,#u645:hover #u648-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u645:active #u648-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u645.MuseMenuActive #u648-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u621
{
	width: 131px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 396px;
}

#u624
{
	width: 131px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u624:hover
{
	background-color: #999999;
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u627-4
{
	width: 131px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u624:hover #u627-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 131px;
	margin: 0px -10000px 0px 0px;
}

#u624:active #u627-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 131px;
	margin: 0px -10000px 0px 0px;
}

#u628
{
	width: 131px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 529px;
}

#u631
{
	width: 131px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u631:hover
{
	background-color: #999999;
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u624:active,#u631:active
{
	background-color: #6B6B6B;
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u633-4
{
	width: 131px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u624.MuseMenuActive #u627-4,#u631:hover #u633-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 131px;
	margin: 0px -10000px 0px 0px;
}

#u631:active #u633-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 131px;
	margin: 0px -10000px 0px 0px;
}

#u631.MuseMenuActive #u633-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 131px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u159
{
	z-index: 4;
	width: 660px;
	background-color: transparent;
	position: relative;
}

#u159_img
{
	padding-bottom: 6px;
}

#u157
{
	z-index: 2;
	width: 660px;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

