.version.laundry_room /* version checker */
{
	color: #000009;
	background-color: #A132F5;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 660px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-right: 300px;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#menuu656
{
	z-index: 2;
	width: 660px;
}

#u664
{
	width: 130px;
	min-height: 34px;
	margin-right: -10000px;
}

#u667
{
	width: 130px;
	padding-bottom: 17px;
}

#u667:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u667:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u670-4
{
	width: 130px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u667:hover #u670-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u667:active #u670-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u685
{
	width: 130px;
	min-height: 34px;
	margin-right: -10000px;
	left: 132px;
}

#u686
{
	width: 130px;
	padding-bottom: 17px;
}

#u667.MuseMenuActive,#u686:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u686:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u687-4
{
	width: 130px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u667.MuseMenuActive #u670-4,#u686:hover #u687-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u686:active #u687-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u678
{
	width: 130px;
	min-height: 34px;
	margin-right: -10000px;
	left: 264px;
}

#u681
{
	width: 130px;
	padding-bottom: 17px;
}

#u686.MuseMenuActive,#u681:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u681:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u681.MuseMenuActive
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u683-4
{
	width: 130px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u686.MuseMenuActive #u687-4,#u681:hover #u683-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u681:active #u683-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u681.MuseMenuActive #u683-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u657
{
	width: 131px;
	min-height: 34px;
	margin-right: -10000px;
	left: 396px;
}

#u660
{
	width: 131px;
	padding-bottom: 17px;
}

#u660:hover
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u660:active
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u661-4
{
	width: 131px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u660:hover #u661-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 131px;
	margin: 0px -10000px 0px 0px;
}

#u660:active #u661-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 131px;
	margin: 0px -10000px 0px 0px;
}

#u671
{
	width: 131px;
	min-height: 34px;
	margin-right: -10000px;
	left: 529px;
}

#u672
{
	width: 131px;
	padding-bottom: 17px;
}

#u660.MuseMenuActive,#u672:hover
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u672:active
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u672.MuseMenuActive
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u674-4
{
	width: 131px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u660.MuseMenuActive #u661-4,#u672:hover #u674-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 131px;
	margin: 0px -10000px 0px 0px;
}

#u672:active #u674-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 131px;
	margin: 0px -10000px 0px 0px;
}

#u672.MuseMenuActive #u674-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 131px;
	margin: 0px -10000px 0px 0px;
}

#u292-4
{
	z-index: 73;
	width: 407px;
	min-height: 41px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	margin-top: 6px;
	position: relative;
}

#u264
{
	z-index: 45;
	width: 200px;
	background-color: transparent;
	margin-top: 1px;
	position: relative;
}

#u246-6
{
	z-index: 33;
	width: 200px;
	min-height: 31px;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u269
{
	z-index: 47;
	width: 150px;
	background-color: transparent;
	margin-left: 25px;
	position: relative;
}

#u278-6
{
	z-index: 49;
	width: 200px;
	min-height: 31px;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u259
{
	z-index: 43;
	width: 200px;
	background-color: transparent;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u281-6
{
	z-index: 67;
	width: 200px;
	min-height: 31px;
	background-color: transparent;
	text-align: center;
	margin-top: 1px;
	position: relative;
}

#u254
{
	z-index: 41;
	width: 200px;
	background-color: transparent;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u279-6
{
	z-index: 55;
	width: 200px;
	min-height: 31px;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u248
{
	z-index: 39;
	width: 200px;
	background-color: transparent;
	position: relative;
}

#u280-6
{
	z-index: 61;
	width: 200px;
	min-height: 31px;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u246-2,#u278-2,#u281-2,#u279-2,#u280-2
{
	font-size: 12px;
	line-height: 14px;
}

#u246-4,#u278-4,#u281-4,#u279-4,#u280-4
{
	font-size: 10px;
	line-height: 12px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

