#menuu656
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u667
{
	background-color: #C4C4C4;
	position: relative;
}

#u667:hover
{
	background-color: #999999;
}

#u667:active
{
	background-color: #6B6B6B;
}

#u670-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u686
{
	background-color: #C4C4C4;
	position: relative;
}

#u667.MuseMenuActive,#u686:hover
{
	background-color: #999999;
}

#u686:active
{
	background-color: #6B6B6B;
}

#u687-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u681
{
	background-color: #C4C4C4;
	position: relative;
}

#u686.MuseMenuActive,#u681:hover
{
	background-color: #999999;
}

#u681:active
{
	background-color: #6B6B6B;
}

#u683-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u660
{
	background-color: #C4C4C4;
	position: relative;
}

#u681.MuseMenuActive,#u660:hover
{
	background-color: #999999;
}

#u660:active
{
	background-color: #6B6B6B;
}

#u661-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u664,#u685,#u678,#u657,#u671
{
	background-color: transparent;
	position: relative;
}

#u672
{
	background-color: #C4C4C4;
	position: relative;
}

#u660.MuseMenuActive,#u672:hover
{
	background-color: #999999;
}

#u672:active
{
	background-color: #6B6B6B;
}

#u672.MuseMenuActive
{
	background-color: #999999;
}

#u674-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

